.wrapper{
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

.inner{
    width: 1150px;
    padding: 0 24px 0 20px;
    height: 100%;
}